footer.page-footer.font-small.unique-color-dark

  .container.text-center.text-md-left.mt-5

    .row.mt-3

      .col-md-3.col-lg-3.col-xl-3.mx-auto.mb-4

        h6.text-uppercase.font-weight-bold SEAK?RET
        hr.deep-purple.accent-2.mb-4.mt-0.d-inline-block.mx-auto(style='width: 40px;')
        p
          | Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
          | consectetur
          | adipisicing elit.

      .col-md-2.col-lg-3.col-xl-2.mx-auto.mb-4

        h6.text-uppercase.font-weight-bold Decouvrez l entreprise
        hr.deep-purple.accent-2.mb-4.mt-0.d-inline-block.mx-auto(style='width: 40px;')
        p
          a(href='#!') Qui sommes nous?
        p
          a(href='#!') Notre Forum
        p
          a(href='#!') Reecrutement

      .col-md-3.col-lg-3.col-xl-3.mx-auto.mb-md-0.mb-4

        h6.text-uppercase.font-weight-bold Contact
        hr.deep-purple.accent-2.mb-4.mt-0.d-inline-block.mx-auto(style='width: 40px;')
        p
        i.fas.fa-home.mr-3
          |  Elancourt, CP : 78990,FR
        p
        i.fas.fa-envelope.mr-3
          |  seakret@gmail.com
        p
        i.fas.fa-phone.mr-3
          |  01  34 59 03 38

    .footer-copyright.text-center.py-3
      | 2018 Copyright:
      a(href='')  Seak?Ret.com
