extends layout
block content
  .login-panel
  img(src="imgages/login-img.png")
  include includes/login-form

  .register-panel
    img(src="imgages/register-img.jpg")
    include includes/register-form