form(method="post" action="/login")



.form-group.row
  label.col-sm-1.col-form-label(for='inputUsername2') Username
  .col-sm-4
    input#inputUsername2.form-control(type='text', placeholder='Email')

.form-group.row
  label.col-sm-1.col-form-label(for='inputPassword2') Password
  .col-sm-4
    input#inputPassword2.form-control(type='password', placeholder='Password')

.form-group.row
  .col-sm-1
    input#inputPassword2.form-control(type='submit', value="Login" )