doctype html
html
  head
    title= title
    include includes/styles

  body

    include includes/header
    include includes/caroussel
    include includes/card
    include includes/footer



    block content
