doctype html
html
  head
    title= title
    include includes/styles

  body
  .page-wrapper
    include includes/header
    include includes/login-form
    include includes/register-form


    block content
