body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

form {
  height: 500px;
  width: 440px;
  border: 1px solid grey;
  display: inline-flex;
  padding: 20px;
  margin: 20px;
}

img {
  height: 40px;
  width: 200px;
}
